<h1> Appointment info </h1>
<p> Appointment Time: <%= @appointment.appointment_datetime %> </p>
<p> Appointment Doctor: <%= @appointment.doctor.name %> </p>
<p> Appointment Patient: <%= @appointment.patient.name %> </p>
